<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Conversion de longitudes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      Convertido
    </ion-card-header>

    <ion-card-content>
      <h2>{{convertido}}</h2>
    </ion-card-content>

  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Ingresa la longitud a convertir</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Cantidad:</ion-label>
          <ion-input [(ngModel)]="cantIngresada" (ionChange)="convertir()" type="text"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Selecciona las longitudes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Convertir de</ion-label>
          <ion-select [(ngModel)]="unidToConvert" (ionChange)="convertir()" okText="Ok" cancelText="Cerrar">
            <ion-select-option value="1">Pulgada</ion-select-option>
            <ion-select-option value="2">Pie</ion-select-option>
            <ion-select-option value="3">Yarda</ion-select-option>
            <ion-select-option value="4">Milla</ion-select-option>
            <ion-select-option value="5">Metros</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>A</ion-label>
          <ion-select [(ngModel)]="unidToDoConvert" (ionChange)="convertir()" okText="Ok" cancelText="Cerrar">
            <ion-select-option value="1">Pulgada</ion-select-option>
            <ion-select-option value="2">Pie</ion-select-option>
            <ion-select-option value="3">Yarda</ion-select-option>
            <ion-select-option value="4">Milla</ion-select-option>
            <ion-select-option value="5">Metros</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
        <ion-img src="/assets/Logo ITCG-13.png"></ion-img>
    </ion-list>
  </ion-card>
</ion-content>
